@import "./shared/_vars";

:root {
  --accent-color: #a50010;
}

body {
  height: 100%;
  background: $bgColor;
  overflow-y: scroll;
}

.header {
  height: $headerHeight;
  background-color: var(--accent-color);
  color: #fff;
  padding-top: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;

  .container {
    position: relative;

    h1 {
      font-size: 30px;
      line-height: 30px;

    }

    h4 {
      font-size: 14px;
      line-height: 14px;
      margin-top: 10px;
    }

    button.loginout {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      padding: 0;
    }
  }

}

.side-panel {
  $darkBg: #000;
  width: 200px;

  background: linear-gradient(90deg ,$darkBg,$darkBg 10%, lighten($darkBg,20));
  box-shadow: 6px 0 6px -6px #333;
  margin-top: -6px;
  margin-bottom: -6px;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    width: 5000px;
    right: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: $darkBg;
  }
}

.app-content {
  padding-top: $headerHeight;

  .side-panel {
    padding-top: $topPadding;
    position: fixed;
    top: $headerHeight;
    bottom: 0;
  }

  .main-content {
    padding-left: 200px;
    background-color: $bgColor;
    width: 100%;
    padding-top: $topPadding;

  }
}
