@import "./shared/_vars";

body {
  height: 100%;
  background: $bgColor;
  overflow-y: scroll;
}

.header {
  height: $headerHeight;
  background-color: $accent;
  color: #fff;
  padding-top: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;

  h1 {
    font-size: 30px;
    line-height: 30px;

  }

  h4 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
  }
}

.app-content {
  padding-top: $headerHeight;

  .side-panel {
    padding-top: $topPadding;
    width: 200px;
    position: fixed;
    top: $headerHeight;
    bottom: 0;
    background: linear-gradient(90deg ,$bgColor,$bgColor 20%, darken($bgColor,5));
    box-shadow: 6px 0 6px -6px #333;
    margin-top: -6px;
    margin-bottom: -6px;

  }

  .main-content {
    padding-left: 200px;
    background-color: $bgColor;
    width: 100%;
    padding-top: $topPadding;
  }
}
